<!DOCTYPE html>
<html>


<head>
  <meta charset=UTF-8>
  <title>ChatSpaceProto</title>
</head>


<body>
<div class='flash-box'>
  グループを作成しました
</div>

<div class='wrapper'>

  <div class='chat-side'>
    <div class='side-header'></div>
    <div class='groups'></div>
  </div>

  <div class='chat-main'>

    <div class='chat-header'>
      <div class='current-group'>
      </div>
      <div class='main-header__edit-btn'>Edit</div>
    </div>

    <div class='messages'>
      <div class='message'>
      </div>
    </div>

    <div class='form'>
      <div class='new-message'>
      　<div class='input-box'>
         <input class="input-box__image__file" type="file" name="message[image]" id="message_image">
      </div>
      <input type="submit" value="Send" class='new-message-input-btn'>
      </div>
    </div>

  </div>


</div>


</body>
</html>