.chat-side {
  width:300px;
  height: 100vh;
  color: white;
  box-sizing: border-box;
}

.side-header {
  background-color:#253141;
  width: 300px;
  height: 100px;
  font-size:16px;
  font-weight:bold;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  position:relative;
  &-box {
    display:flex;
    position: absolute;
    top:38px;
    width: 260px;
    justify-content: space-between;
  }
  &__user-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    height:24px;
    margin: 0px;
    padding:0px;
  }
}

.user-menu {
  display: flex;
}

.fa {
  color:white;
}

.groups {
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  box-sizing: border-box;
  padding: 20px 20px 0;
  overflow: scroll;
}

.group {
  margin-bottom: 40px;
  box-sizing: border-box;
 
   &__name{
    font-size: 15px;
    margin-bottom: 5px;
    color:white;
  }
   &__message{
    font-size: 11px;
    color:white;
  }
}

